
body {
    font: 20px, Arial, sans-serif;
}

h2 {
    color: green;
}

ul {
    font-size: 20px;
}

.tit-pet {
    color: white;
    padding-top: 30px;
   padding-bottom: 15px;
}
.meu-titulo {
    color: green;
    font-size: 25px;
}

.navbar {
    background-color: rgb(245, 247, 241);
}

.quem-somos {
    margin-top: 30px;
    background-color: rgb(80, 133, 21);
    color: white;
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}
.pets {
    background-color: black;
    color: lime;
    padding-bottom: 60px;
}

.bg-footer {
    font-size: 15px;
    background-color: rgb(2, 32, 2);
    color: greenyellow;
}